main {
    display: flex;
}

#productinfo {
    margin-top: 8%;
    font-size: 1.7em;
}

#productcards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}

.procards {
    max-width: 35%;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.procards:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    border-radius: 20px;
}

.add-button {
    background-color: none;
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 20px;
    border: 3px solid green;
    transition: 0.1s;
}

.disabledBtn {
    border: 3px solid red;
}

.add-button:hover {
    color: green;
    border: none;
}

.disabledBtn:hover {
    border: 3px solid red;
    color: red;
}

#basket {
    flex: 0 0 250px;
    margin-left: 5%;
    position: sticky;
    align-self: flex-start;
    top: 20px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 20px;
    text-align: center;
    min-height: 550px;
    margin-bottom: 20px;
}

#basketItem {
    padding: 10px;
    font-weight: bold;
    margin: 40px;
    border-bottom: 3px solid;
}

#emptyBtn {
    border-radius: 20px;
    padding: 10px;
    border: 2px solid red;
    cursor: pointer;
    transition: 0.1s;
    font-size: 1.02em;
    margin-bottom: 20px;
}

#emptyBtn:hover {
    color: red;
    padding: 12px;
}

#footerassignment2 {
    margin-top: 20px;
    text-align: center;
    background-color: darkgray;
    padding: 3px;
}

#returnlink2 {
    color: black;
}

#returnlink2:hover {
    text-decoration: none;
}