main {
    display: flex;
}

#productinfo {
    margin-top: 5%;
}

#productcards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.procards {
    max-width: 40%;
    background-color: gray;
    padding: 20px;
    margin: 20px;
}

img {
    max-width: 100%;
}