main {
    display: flex;
}

#productinfo {
    margin-top: 5%;
}

#productcards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}

.procards {
    max-width: 35%;
    background-color: rgba(128, 128, 128, 0.5);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
}

.procards:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    border-radius: 20px;
}

button {
    background-color: none;
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 20px;
    border: 3px solid green;
    transition: 0.1s;
}

button:hover {
    color: green;
    border: none;
}

#basket {
    flex: 0 0 250px;
    margin-left: 5%;
    position: sticky;
    align-self: flex-start;
    top: 20px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 20px;
    text-align: center;
    min-height: 500px;
}

#basketItem {
    padding: 10px;
    font-weight: bold;
    margin: 40px;
    border-bottom: 3px solid;
}