html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

header {
    text-align: start;
    background-color: darkgray;
}

#headertext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headerinfo {
    text-align: end;
    margin-right: 10%;
}

h1 {
    font-size: 4.5em;
    margin-left: 4%;
}

h2 {
    font-size: 2.1em;
    margin-top: 10%;
}

h4 {
    margin-top: -2%;
}

#footerassignment1 {
    background-color: darkgray;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

ul {
    background-color: black;
    padding: 1.5%;
}

ul li {
    display: inline-block;
}

ul li a {
    padding: 25px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.5s;
}

ul li a:hover {
    background-color: lightblue;
    padding: 25px;
    color: black;
}

#card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cards {
    padding: 3%;
    width: 25%;
    background-color: lightgrey;
    margin: 2%;
    border-radius: 20px;
    font-size: 1.2em;
    box-shadow: 0px 6px 6px 6px rgba(0, 0, 0, 0.6);
}

.cards a {
    color: black;
    transition: 0.5s;
}

.cards a:hover {
    background-color: black;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#assignment1text {
    font-size: 1.5em;
    width: 50%;
    margin-left: 4%;
}

#returnlink {
    font-size: 1.5em;
    margin-left: 4%;
    color: black;
    transition: 0.5s;
}

#returnlink:hover {
    background-color: black;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#info h1 {
    font-size: 3.5em;
}

#info p {
    font-size: 1.5em;
    width: 50%;
    margin-left: 4%;
}

.active {
    background-color: lightblue;
    padding: 25px;
    color: black;
}