.bracket {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* Sträcker ut rundorna vertikalt */
    gap: 2rem;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* Matcherna fördelas jämnt i det vertikala utrymmet */
    gap: 1rem;
}

.match {
    padding: 20px;
    border: solid;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.2);
}

.vs {
    font-weight: bold;
    text-align: center;
    color: red;
    font-size: 1.2em;
}

.quarterFinals {
    text-align: center;
}

#simulate-btn {
    display: block;
    margin: auto;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: lightgreen;
    border: none;
    border-radius: 10px;

}

.winner {
    background-color: rgba(59, 226, 30, 0.2);
    padding: 1px;
    border-radius: 25px;
}

.loser {
    color: rgba(0, 0, 0, 0.2);
}