body {
    background-color: rgb(233, 233, 233);
}

.bracket {
  display: flex;
  flex-direction: row;
  align-items: center;  /* Sträcker ut rundorna vertikalt */
  gap: 2rem;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;  /* Matcherna fördelas jämnt i det vertikala utrymmet */
  gap: 1rem;
  align-items: center;
  margin-bottom: 100px;
}

.match {
    border: solid;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 15px;
    width: 400px;
    margin-left: 20px;
    position: relative;
}

.contenders {
    padding: 1px;
}

#title h1 {
    text-align: center;
    margin-left: 0;
}

.vs {
    font-weight: bold;
    text-align: center;
    color: red;
    font-size: 1.2em;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.simulate-btn {
    background-color: lightskyblue;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.7s;
}

.restart-btn {
    background-color: rgba(119, 136, 153, 0.6);
    color: rgb(54, 54, 54);
    padding: 15px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.7s;
}

.simulate-btn:hover, .restart-btn:hover {
    box-shadow: 0px 2px 10px 2px;
    transform: scale(1.04);
}

.winner {
    background-color: rgba(59, 226, 30, 0.2);
    border-radius: 25px;
}

.loser {
    color: rgba(0, 0, 0, 0.2);
}

.tournament-heading {
    transform: rotate(-8deg);
    transition: 2s;
}

.wow {
    transform: rotate(352deg);
    color: red;
}