.bracket {
  display: flex;
  flex-direction: row;
  align-items: stretch;  /* Sträcker ut rundorna vertikalt */
  gap: 2rem;
}

.round {
  display: flex;
  flex-direction: column;
  justify-content: space-around;  /* Matcherna fördelas jämnt i det vertikala utrymmet */
  gap: 1rem;
}

.match {
    padding: 20px;
    border: solid;
    width: 300px;
    margin-left: 50px;
}

.vs {
    font-weight: bold;
}