body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, rgb(108, 5, 5) 1%, rgb(0, 0, 0) 30%);
    min-height: 100vh;
}

.ghostHeader h1{
    color: white;
    text-align: center;
    font-size: 80px;
}

#housecards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
}

.house-div {
    color: white;
    flex: 0 0 400px;
    border: 1px solid rgb(78, 17, 17);
    border-radius: 10px;
    padding: 20px;
}

.house-div h3 {
    font-size: 2em;
}

.house-div p {
    font-size: 1.2em;
}

.house-div img {
    width: 100%;
    border-radius: 10px;
}

.booking-btn {
    padding: 10px;
    background-color: #b30000;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.15em;
    color: white;
}

.booking-btn:hover {
    color: black;
}

#forms {
    display: flex;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}

#form1 form,
#form2 form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: white;
    width: 300px;
}

.backLink {
    margin-left: 50px;
    font-size: 1.1em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.backLink:hover {
    color: red;
}

.message {
    color: white;
    font-size: 2.5em;
}

.houseNotFound {
    color: white;
    font-size: 3em;
}

#form3 form {
    margin-top: 60px;
    color: white;
}

#houseContainer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.errorMsg {
    font-size: 3em;
    color: white;
}

.houseDisplay {
    color: white;
    max-width: 1000px;
}

.houseDisplay img {
    border-radius: 10px;
    border: 2px solid rgb(78, 17, 17);
}

.ghostlist {
    color: white;
    text-transform: capitalize;
}

footer {
    color: white;
    text-align: center;
    padding: 50px;
}

#booking {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-left: 100px;
}

#bookingForm {
    color: white;
    justify-self: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset {
    padding: 20px;
    border-color: rgb(78, 17, 17);
}

input[type="checkbox"] {
    display: flex;
    gap: 10px;
    width: auto;
}

.checkbox-item {
    display: flex;
    gap: 8px;
}

#checkIn, #numberOfDays, #discountCode {
    background-color: rgb(58, 58, 58);
    height: 30px;
    border: none;
    color: white;
    font-size: 1.1em;
}

#currentBooking {
    color: white;
    margin-top: 100px;
    width: 400px;
}

.confirmationDiv {
    justify-self: center;
    width: 800px;
    color: white;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(152, 255, 152, 0.247);
    padding: 1px;
    border-radius: 20px;
}

.confirmationDiv h2 {
    font-size: 2.5em;
}

.validateBox {
    background: #ffe5e5;
    border: 1px solid #ff6b6b;
    color: #b30000;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
    display: none;
    width: 300px;
    margin-left: 600px;
}

.validateBox.show {
    display: block;
}

#bookingBtn {
    background-color: rgb(167, 30, 30);
    font-size: 1.5em;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
}

#bookingBtn:hover {
    color: black;
}

.weatherDiv {
    color: white;
    border: 2px solid rgb(78, 17, 17);
    padding: 5px;
    border-radius: 10px;
    max-width: 25%;
    text-align: center;
}

#errorMsg {
    color: white;
}

.temp {
    font-size: 2em;
    font-weight: bold;
}