body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, rgb(108, 5, 5) 1%, rgb(0, 0, 0) 30%);
    min-height: 100vh;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 5em;
}

header h3 {
    color: white;
    text-align: center;
    margin-top: -40px;
}

#housecards {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
}

.house-div {
    color: white;
    flex: 0 0 400px;
    border: 2px solid rgb(78, 17, 17);
    border-radius: 10px;
    padding: 20px;
}

.house-div h3 {
    font-size: 2em;
}

.house-div p {
    font-size: 1.2em;
}

.house-div img {
    width: 100%;
    border-radius: 10px;
}

.booking-btn {
    color: red;
}

#forms {
    display: flex;
}

#form1 form,
#form2 form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: white;
    width: 300px;
}

.backLink {
    margin-left: 50px;
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.backLink:hover {
    color: red;
}

.message {
    color: white;
    font-size: 2.5em;
}

.houseNotFound {
    color: white;
    font-size: 3em;
}

#form3 form {
    margin-top: 60px;
    color: white;
}

#houseContainer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.houseDisplay {
    color: white;
}

.houseDisplay img {
    border-radius: 10px;
    border: 2px solid rgb(78, 17, 17);
}

.ghostlist {
    color: white;
}

footer {
    color: white;
    text-align: center;
    padding: 50px;
    background: linear-gradient(to top, rgb(108, 5, 5) 20%, rgb(0, 0, 0) 100%);
}

#booking {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-left: 100px;
}

#bookingForm {
    color: white;
    justify-self: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

fieldset {
    /* display: flex;
    flex-direction: column; */
    padding: 20px;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
}

#currentBooking {
    color: white;
    margin-top: 100px;
    width: 400px;
}